.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 2vh 2vh;
}

#nav {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.rainbow-divider {
	width: 100%;
}