.Contact {
	height: 60vh;
	background-color: #81858f;
	display: flex;
	flex-direction: column;

	h1 {
		text-align: center;
		margin-top: 0;
		padding-top: 2%;
	}

	p {
		padding: 0 5vh;
	}
}

#form {
	display: flex;
	flex-direction: column;
	padding: 5vh;
}

textarea {
	width: 24%;
	height: 20vh;
}

.submit_button {
	width: 25%;
}

@media only screen and (max-width: 800px) {
	textarea {
		width: 100%;
	}
}