.Contact {
	height: 60vh;
	background-color: #81858f;
	display: flex;
	flex-direction: column;

	h1 {
		text-align: center;
		margin-top: 0;
		padding-top: 2%;
	}

	p {
		padding: 0 5vh;
	}
}

#form {
	display: flex;
	flex-direction: column;
	padding: 5vh;
}

textarea {
	width: 50vh;
	height: 100px;
}

.submit_button {
	width: 51vh;
}