.Contact {
	height: 50vh;
	background-color: #81858f;
	display: flex;
	flex-direction: column;

	h1 {
		text-align: center;
		margin-top: 0;
		padding-top: 2%;
	}
}

#form {
	justify-content: space-between;
	display: flex;
	flex-direction: column;
}
