.Portfolio {
	background-color: #b5c9e4;

	h3 {
		font-weight: 100;
	}
}

.wrapper_desktop {
	height: 60vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5%;
}

.textBox {
	width: 50%;
	h1 {
		text-align: left;
	}
}

.fun-work {
	width: 40%;
	text-align: right;
}

.carousel:hover {
	cursor: pointer;
}
.react-reveal.carousel {
	margin-left: 50%;
	img {
		max-width: 80%;
		max-height: 75%;
	}
}

.icon-links {
	img {
		max-width: 50px;
	}
	display: flex;
	justify-content: space-between;
	padding: 0 20% 0 20%;
}
