.Portfolio {
	background-color: #b5c9e4;
	height: 60vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5%;

	h3 {
		font-weight: 100;
	}
}

.textBox {
	width: 50%;
	h1 {
		text-align: left;
	}
}

.fun-work{
	width: 40%;
	text-align: right;
}

.carousel {
	img {
		max-width: 80%;
		max-height: 75%;
		border: 3px solid black;
	}
}

.icon-links {
	img {
		max-width: 50px;
	}
	display: flex;
	justify-content: space-between;
	padding: 0 20% 0 20%;
}
